body{
    background-color:  #222;
}

#scoreboard{
    display: flex;
    justify-content: space-evenly;
}

#scoreboard > div > p{
    color: white;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

#player > h1{
    color: rgb(18, 115, 226);
}

#CPU > h1{
    color: red;
}

#svg{
    display: flex;
    justify-content: center;
    align-items: center;
}


#resultado{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: xx-large;
    color: white;
    text-decoration:underline;
}

.borde .scissors-path {
    stroke: green;       /* Color del borde */
    stroke-width: 2px;   /* Grosor del borde */
    fill: none;          /* Asegúrate de que el relleno esté en 'none' si solo deseas un borde */
}