body{
    background-color:  #222;
}

#scoreboard{
    display: flex;
    justify-content: space-evenly;
}

#scoreboard > div > p{
    color: white;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

#player > h1{
    color: rgb(18, 115, 226);
}

#CPU > h1{
    color: red;
}

#svg{
    display: flex;
    justify-content: center;
    align-items: center;
}